<div class="flex flex-col h-fit gap-3 relative">
  <div class="flex flex-col">
    <span class="text-lg font-bold">Manajemen Operator</span>
    <span></span>
  </div>

  <div class="bg-white shadow p-3 rounded-lg flex flex-col gap-3 overflow-x-auto" *ngIf="mode == 0">
    <div class="flex flex-row place-items-center w-full gap-2 justify-between">
      <div class=" basis-1/5">
        <span class="font-bold text-base">Tabel Operator</span>
      </div>
      <form class="flex flex-row gap-2 place-items-center w-full justify-end" [formGroup]="form">
        <input type="text" class="bg-slate-100 focus:outline-none focus:ring-0 rounded-lg px-3 py-2 basis-1/2"
          placeholder="Cari" formControlName="search">
        <button type="button" class="px-3 py-2 rounded-lg bg-orange-500 hover:bg-orange-600 text-slate-100"
          (click)="changeMode(1)">Tambah</button>
      </form>
    </div>
    <table class="w-full">
      <thead class="bg-orange-500 text-slate-100 rounded-lg w-full">
        <tr>
          <th class="px-3 py-2 text-start">ID</th>
          <th class="px-3 py-2 text-start">Name</th>
          <th class="px-3 py-2 text-start">Email</th>
          <th class="px-3 py-2 text-start">Avatar</th>
          <th class="px-3 py-2 text-start max-w-xs">Aksi</th>
        </tr>
      </thead>
      <tbody *ngIf="!loadingPage && accounts?.paginate?.length">
        <ng-container *ngFor="let item of accounts?.paginate; let i = index">
          <tr [ngClass]="i % 2 != 0 ? 'bg-orange-100' : '' ">
            <td class="px-3 py-2 text-start max-w-xs">{{ item.id }}</td>
            <td class="px-3 py-2 text-start">{{ item.name }}</td>
            <td class="px-3 py-2 text-start">{{ item.email }}</td>
            <td class="px-3 py-2 text-start">
              <button class="px-3 py-2 rounded-lg bg-orange-500 hover:bg-orange-600 text-slate-100 flex flex-row gap-2 place-items-center" (click)="openModalAvatar(item)">
                <i class="fa-solid fa-image"></i>
                <span>Lihat</span>
              </button>
            </td>
            <td class="px-3 py-2 flex flex-row gap-3 text-lg max-w-xs">
              <button class="text-red-500" (click)="openModalDelete(item)"><i class="fa-solid fa-trash"></i></button>
              <button class="text-blue-500" (click)="show(item)"><i class="fa-solid fa-pen"></i></button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="flex flex-col place-items-center" *ngIf="!loadingPage && !accounts?.paginate?.length">
      <span>Tidak ada data</span>
    </div>
    <div class="flex flex-col place-items-center" *ngIf="loadingPage">
      <div class="text-xl animate-spin"><i class="fa-solid fa-spinner"></i></div>
    </div>
    <div class="flex flex-row place-items-center justify-end gap-3" *ngIf="!loadingPage && accounts?.paginate?.length">
      <span>Halaman {{ accounts?.page }} dari {{ accounts?.total_page }} </span>
      <div class="flex flex-row">
        <button class="px-3 py-2 hover:text-orange-500 text-lg" (click)="paginator(false)"
          *ngIf="accounts?.page! > 1"><i class="fa-solid fa-caret-left"></i></button>
        <button class="px-3 py-2 hover:text-orange-500 text-lg" (click)="paginator(true)"
          *ngIf="accounts?.page != accounts?.total_page"><i class="fa-solid fa-caret-right"></i></button>
      </div>
    </div>
  </div>

  <form class="bg-white shadow p-3 rounded-lg flex flex-col gap-3" [formGroup]="form" (submit)="create()"
    *ngIf="mode == 1">
    <div class="flex flex-col">
      <span class="text-base font-bold">Form Pendaftaran Operator</span>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex flex-row place-items-center px-3 gap-2 bg-slate-100 rounded"
        [ngClass]="{'border-red-500 border': name?.invalid && name?.touched}">
        <i class="fa-solid fa-user"></i>
        <input type="text" class="flex-1 focus:outline-none focus:ring-0 bg-transparent h-10" placeholder="Nama"
          formControlName="name">
      </div>
      <span class="text-xs text-red-500" *ngIf="name?.hasError('required') && name?.touched">Nama harus diisi!</span>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex flex-row place-items-center px-3 gap-2 bg-slate-100 rounded"
        [ngClass]="{'border-red-500 border': email?.invalid && email?.touched}">
        <i class="fa-solid fa-envelope"></i>
        <input type="text" class="flex-1 focus:outline-none focus:ring-0 bg-transparent h-10" placeholder="Email"
          formControlName="email">
      </div>
      <span class="text-xs text-red-500" *ngIf="email?.hasError('required') && email?.touched">Email harus diisi!</span>
      <span class="text-xs text-red-500" *ngIf="email?.hasError('email') && email?.touched">Email tidak valid!</span>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex flex-row place-items-center px-3 gap-2 bg-slate-100 rounded"
        [ngClass]="{'border-red-500 border': password?.invalid && password?.touched}">
        <i class="fa-solid fa-lock"></i>
        <input [type]="obsecure ? 'password' : 'text'"
          class="flex-1 focus:outline-none focus:ring-0 bg-transparent h-10" placeholder="Kata Sandi"
          formControlName="password">
        <button type="button" class="hover:text-orange-500" (click)="obsecureToggle()"><i class="fa-solid "
            [ngClass]="obsecure ? 'fa-eye' : 'fa-eye-slash'"></i></button>
      </div>
      <span class="text-xs text-red-500" *ngIf="password?.hasError('required') && password?.touched">Password harus
        diisi!</span>
      <span class="text-xs text-red-500" *ngIf="password?.hasError('minlength')">Password minimal 8 karakter</span>
      <!-- <span class="text-xs text-red-500">error here</span> -->
    </div>
    <div class=" flex flex-row justify-end gap-2">
      <button type="button"
        class="flex flex-row gap-2 px-3 py-2 bg-red-500 hover:bg-red-600 rounded place-items-center text-slate-100"
        (click)="reset()">
        <i class="fa-sharp fa-solid fa-xmark"></i>
        <span>Batal</span>
      </button>
      <button type="submit"
        class="flex flex-row gap-2 px-3 py-2 bg-orange-500 hover:bg-orange-600 rounded place-items-center text-slate-100">
        <i class="fa-solid fa-plus"></i>
        <span>Tambah</span>
      </button>
    </div>
  </form>

  <form class="bg-white shadow p-3 rounded-lg flex flex-col gap-3" [formGroup]="form" (submit)="update(account?.id!)"
    *ngIf="mode == 2">
    <div class="flex flex-col">
      <span class="text-base font-bold">Form Pembaruan Operator</span>
    </div>
    <div class="flex items-center justify-center w-full">
      <label for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 relative">
        <div class="flex flex-col items-center justify-center pt-5 pb-6" *ngIf="imageUrl == undefined">
          <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Klik untuk memilih
              gambar</span>
          <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" (change)="onChange($event)" />
        <img [src]="imageUrl" class="absolute z-10 bg-cover h-full" alt="" *ngIf="imageUrl != undefined">
      </label>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex flex-row place-items-center px-3 gap-2 bg-slate-100 rounded"
        [ngClass]="{'border-red-500 border': name?.invalid && name?.touched}">
        <i class="fa-solid fa-user"></i>
        <input type="text" class="flex-1 focus:outline-none focus:ring-0 bg-transparent h-10" placeholder="Nama"
          formControlName="name">
      </div>
      <span class="text-xs text-red-500" *ngIf="name?.hasError('required') && name?.touched">Nama harus diisi!</span>
    </div>
    <div class=" flex flex-row justify-end gap-2">
      <button type="button"
        class="flex flex-row gap-2 px-3 py-2 bg-red-500 hover:bg-red-600 rounded place-items-center text-slate-100"
        (click)="reset()">
        <i class="fa-sharp fa-solid fa-xmark"></i>
        <span>Batal</span>
      </button>
      <button type="submit"
        class="flex flex-row gap-2 px-3 py-2 bg-orange-500 hover:bg-orange-600 rounded place-items-center text-slate-100">
        <i class="fa-solid fa-pen"></i>
        <span>Perbarui</span>
      </button>
    </div>
  </form>

  <div class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 px-5 py-4 bg-white shadow-lg rounded max-w-md" *ngIf="modalDelete">
    <div class="flex flex-col gap-3">
      <div class="flex flex-row gap-2 text-yellow-600 font-bold text-lg place-items-center">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <span>PERINGATAN!</span>
      </div>
      <span>Hapus akun <span class="font-bold">{{ account?.name | uppercase}}</span> ?</span>
      <span class="text-xs">Dengan menekan tombol "Hapus" akan menghapus secara <span class="font-bold">PERMANEN</span> seluruh data pada akun <span class="font-bold">{{ account?.name | uppercase}}</span>.</span>
      <div class="flex flex-row justify-end gap-2">
        <button type="button"
          class="flex flex-row gap-2 px-3 py-2 bg-orange-500 hover:bg-orange-600 rounded place-items-center text-slate-100"
          (click)="reset()">
          <i class="fa-sharp fa-solid fa-xmark"></i>
          <span>Batal</span>
        </button>
        <button (click)="delete(account?.id!)" type="button"
          class="flex flex-row gap-2 px-3 py-2 bg-red-500 hover:bg-red-600 rounded place-items-center text-slate-100">
          <i class="fa-solid fa-trash"></i>
          <span>Hapus</span>
        </button>
      </div>
    </div>
  </div>

  <div class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 px-5 py-4 bg-white shadow-lg rounded max-w-md" *ngIf="modalAvatar">
    <div class="flex flex-col gap-3">
      <img [src]="account?.avatar" alt="">
      <div class="flex flex-row justify-end gap-2">
        <button type="button"
          class="flex flex-row gap-2 px-3 py-2 bg-red-500 hover:bg-red-600 rounded place-items-center text-slate-100"
          (click)="reset()">
          <i class="fa-sharp fa-solid fa-xmark"></i>
          <span>Kembali</span>
        </button>
      </div>
    </div>
  </div>

</div>
